.courseShow1 {
    background-image: url("https://plus.unsplash.com/premium_photo-1670934158407-d2009128cb02?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1460&q=80");
    height: 200px;
    margin-left: 0px;
    margin-top:60px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
.card1{
    margin-top: 250px;
    margin-left: 950px;
    margin-right: 4%;
}

.about{
    margin-left: 0px;
    margin-top: 390px;
    margin-right: 250px;
    max-width: 800px;
    position: absolute;
    
}

@media screen and (max-width:768px){
    .courseShow1{
        margin-top:55px;
    }
    .card1{
        position: absolute;
        margin-top: 350px;
        margin-left: auto;
        margin-right: auto;
    }
    .about{
        margin-left: auto;
        margin-top: 850px;
        margin-right:auto;
        max-width: 90%;
    }
}
