@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body{
    background-color: #2B2730;
}
h1{
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}

.description{
    display: flex;
}

.list-todo{
    text-align: left;

}
.list-todo ul{
    list-style-type: none;
}

.todo{
    display: flex;
    justify-content: space-around;
}

h3,p{
    font-family: 'Roboto', sans-serif;
}


